.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .App {
    max-width: 840px;
    padding: 24px;
  }
}
