/* 전역 스타일 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background: #f7f9fc;
  color: #121212;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}
